p {
    color: red;
    font-size: 20px;
    border: 2px solid blue;
    }

    body {
        margin: 20px;
        }
        .element {
        width: 100px;
        height: 100px;
        border: 4px solid red;
        margin-bottom: 20px;
        }
        .inline1 {
            margin: 0 auto;
            background: red;
            color: #fff;
            }
            .inline2 {
            margin: 20px;
            background: blue;
            color: #fff;
            }
            .element0 {
                background-color: blue;
                background-image: url(...);
                background-size: cover;
                background: red
            }
            .element1 {
                border-top-width: 13px;
                border-right-width: 20px;
                border-bottom-width: 30px;
                border-left-width: 40px;
                border-style: solid;
                border-color: #333;
                background: gold;
                color: red;
                }
                .element2 {
                border: 1px solid #333;
                background: gold;
                color: red;
                padding: 20px;
                padding-left:500px ;
                }
                
                #space-invader {
                    box-shadow: 0 0 0 1em rgb(45, 154, 194),
                    0 1em 0 1em red,
                    -2.5em 1.5em 0 .5em red,
                    2.5em 1.5em 0 .5em red,
                    -3em -3em 0 0 rgb(223, 255, 82),
                    3em -3em 0 0 red,
                    -2em -2em 0 0 red,
                    2em -2em 0 0 red,
                    -3em -1em 0 0 red,
                    -2em -1em 0 0 red,
                    2em -1em 0 0 red,
                    3em -1em 0 0 red,
                    -4em 0 0 0 red,
                    -3em 0 0 0 red,
                    3em 0 0 0 red,
                    4em 0 0 0 red,
                    -5em 1em 0 0 red,
                    -4em 1em 0 0 rgb(255, 190, 86),
                    4em 1em 0 0 red,
                    5em 1em 0 0 red,
                    -5em 2em 0 0 red,
                    5em 2em 0 0 red,
                    -5em 3em 0 0 red,
                    -3em 3em 0 0 red,
                    3em 3em 0 0 red,
                    5em 3em 0 0 red,
                    -2em 4em 0 0 red,
                    -1em 4em 0 0 red,
                    1em 4em 0 0 red,
                    2em 4em 0 0 red;
                    background: red;
                    width: 1em;
                    height: 1em;
                    overflow: hidden;
                    margin: 50px 0 70px 65px;
                  }
                  .overflow {
                    
                    padding: 20px;
                    background: yellow;
                    color: red;
                    margin: 20px;
                    width: 200px;
                    height: 200px;
                    overflow: hidden !important; /* wymuszamy schowanie przewijania */
                    overflow-y: auto !important; /* jeżeli zajdzie potrzeba pojawią się paski na osi Y */
                    }
                    